.layout {
  display: grid;
  grid-template-columns: 1fr 340px;
  gap: 12px;
  width: 100%;
  align-items: start;
  margin-top: 16px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}
