@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

:root {
  --primary: #eeb702;
  --primary-soft: rgba(238, 183, 2, 0.18);
  --primary-hover: rgba(238, 183, 2, 0.28);
  --hover-bg-open: #fff7e1;
  --active-bg-open: #fff1c2;

  --text: #1f1f1f;
  --radius: 14px;

  --icon-size: 42px;
  --icon-svg: 20px;

  --background: #ffffff;
  --foreground: #1f1f1f;
  --card: #ffffff;
  --card-foreground: #1f1f1f;
  --popover: #ffffff;
  --popover-foreground: #1f1f1f;
  --secondary: #f5f5f5;
  --secondary-foreground: #1f1f1f;
  --muted: #f5f5f5;
  --muted-foreground: #6b6b6b;
  --accent: #fff7e1;
  --accent-foreground: #1f1f1f;
  --destructive: #ef4444;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: rgba(238, 183, 2, 0.4);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}